In [1]:
pip install sklearn_crfsuite

Requirement already satisfied: sklearn_crfsuite in d:\python311\lib\site-packages (0.5.0)
Requirement already satisfied: python-crfsuite>=0.9.7 in d:\python311\lib\site-packages (from sklearn_crfsuite) (0.9.11)
Requirement already satisfied: scikit-learn>=0.24.0 in d:\python311\lib\site-packages (from sklearn_crfsuite) (1.6.1)
Requirement already satisfied: tabulate>=0.4.2 in d:\python311\lib\site-packages (from sklearn_crfsuite) (0.9.0)
Requirement already satisfied: tqdm>=2.0 in d:\python311\lib\site-packages (from sklearn_crfsuite) (4.67.1)
Requirement already satisfied: numpy>=1.19.5 in d:\python311\lib\site-packages (from scikit-learn>=0.24.0->sklearn_crfsuite) (2.1.3)
Requirement already satisfied: scipy>=1.6.0 in d:\python311\lib\site-packages (from scikit-learn>=0.24.0->sklearn_crfsuite) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in d:\python311\lib\site-packages (from scikit-learn>=0.24.0->sklearn_crfsuite) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in d:\python311\lib\site-packages (from scikit-learn>=0.24.0->sklearn_crfsuite) (3.6.0)
Requirement already satisfied: colorama in d:\python311\lib\site-packages (from tqdm>=2.0->sklearn_crfsuite) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn_crfsuite import CRF
from sklearn_crfsuite.metrics import flat_f1_score
from sklearn_crfsuite.metrics import flat_classification_report

In [3]:
df = pd.read_csv('ner.csv', encoding = "ISO-8859-1")

In [4]:
df.head(10)
df.drop("POS",axis=1)
df.drop("Sentence #",axis=1)

,Sentence,POS,Tag
0,Thousands of demonstrators have marched throug...,"['NNS', 'IN', 'NNS', 'VBP', 'VBN', 'IN', 'NNP'...","['O', 'O', 'O', 'O', 'O', 'O', 'B-geo', 'O', '..."
1,Families of soldiers killed in the conflict jo...,"['NNS', 'IN', 'NNS', 'VBN', 'IN', 'DT', 'NN', ...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
2,They marched from the Houses of Parliament to ...,"['PRP', 'VBD', 'IN', 'DT', 'NNS', 'IN', 'NN', ...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
3,"Police put the number of marchers at 10,000 wh...","['NNS', 'VBD', 'DT', 'NN', 'IN', 'NNS', 'IN', ...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
4,The protest comes on the eve of the annual con...,"['DT', 'NN', 'VBZ', 'IN', 'DT', 'NN', 'IN', 'D...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
...,...,...,...
47954,Indian border security forces are accusing the...,"['JJ', 'NN', 'NN', 'NNS', 'VBP', 'VBG', 'PRP$'...","['B-gpe', 'O', 'O', 'O', 'O', 'O', 'O', 'B-gpe..."
47955,Indian officials said no one was injured in Sa...,"['JJ', 'NNS', 'VBD', 'DT', 'NN', 'VBD', 'VBN',...","['B-gpe', 'O', 'O', 'O', 'O', 'O', 'O', 'O', '..."
47956,Two more landed in fields belonging to a nearb...,"['CD', 'JJR', 'VBD', 'IN', 'NNS', 'VBG', 'TO',...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
47957,They say not all of the rockets exploded upon ...,"['PRP', 'VBP', 'RB', 'DT', 'IN', 'DT', 'NNS', ...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
47958,Indian forces said they responded to the attack,"['JJ', 'NNS', 'VBD', 'PRP', 'VBD', 'TO', 'DT',...","['B-gpe', 'O', 'O', 'O', 'O', 'O', 'O', 'O']"

In [5]:
df=df.sample(frac=0.1, random_state=42)

In [6]:
df.describe()

,Sentence #,Sentence,POS,Tag
count,4796,4796,4796,4796
unique,4796,4787,4771,3879
top,Sentence: 18702,VOA 's Mil Arcega reports .,"['NNP', 'POS', 'NNP', 'NNP', 'VBZ', '.']","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
freq,1,3,5,47

In [7]:
df

,Sentence #,Sentence,POS,Tag
13389,Sentence: 13390,"In Tehran , the chief of Iran 's Revolutionary...","['IN', 'NNP', ',', 'DT', 'NN', 'IN', 'NNP', 'P...","['O', 'B-tim', 'O', 'O', 'O', 'O', 'B-geo', 'O..."
3035,Sentence: 3036,"Even though both sites are now functioning , T...","['RB', 'IN', 'DT', 'NNS', 'VBP', 'RB', 'VBG', ...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-or..."
6013,Sentence: 6014,Suspected U.S. drones have carried out at leas...,"['VBN', 'NNP', 'NNS', 'VBP', 'VBN', 'RP', 'IN'...","['O', 'B-geo', 'O', 'O', 'O', 'O', 'O', 'O', '..."
34939,Sentence: 34940,President Barack Obama has reaffirmed his beli...,"['NNP', 'NNP', 'NNP', 'VBZ', 'VBN', 'PRP$', 'N...","['B-per', 'I-per', 'I-per', 'O', 'O', 'O', 'O'..."
9604,Sentence: 9605,They all decided that one person should get of...,"['PRP', 'DT', 'VBD', 'IN', 'CD', 'NN', 'MD', '...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
...,...,...,...,...
12593,Sentence: 12594,At least our team is trying to win a game .,"['IN', 'JJS', 'PRP$', 'NN', 'VBZ', 'VBG', 'TO'...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
22279,Sentence: 22280,Health experts say tests have confirmed a new ...,"['NNP', 'NNS', 'VBP', 'NNS', 'VBP', 'VBN', 'DT...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
6234,Sentence: 6235,Cuba 's state newspaper has published new phot...,"['NNP', 'POS', 'NN', 'NN', 'VBZ', 'VBN', 'JJ',...","['B-geo', 'O', 'O', 'O', 'O', 'O', 'O', 'O', '..."
31735,Sentence: 31736,China and India reported new human deaths from...,"['NNP', 'CC', 'NNP', 'VBD', 'JJ', 'JJ', 'NNS',...","['B-geo', 'O', 'B-geo', 'O', 'O', 'O', 'O', 'O..."
18701,Sentence: 18702,"On Wednesday , U.N. officials said workers wil...","['IN', 'NNP', ',', 'NNP', 'NNS', 'VBD', 'NNS',...","['O', 'B-tim', 'O', 'B-org', 'O', 'O', 'O', 'O..."

In [8]:
df['Tag'].unique()

array(["['O', 'B-tim', 'O', 'O', 'O', 'O', 'B-geo', 'O', 'B-geo', 'I-geo', 'O', 'B-org', 'I-org', 'I-org', 'I-org', 'O', 'O', 'B-tim', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']",
       "['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-org', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']",
       "['O', 'B-geo', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-geo', 'I-geo', 'O', 'O', 'B-tim', 'O', 'O']",
       ...,
       "['B-geo', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-per', 'I-per', 'O', 'O', 'O', 'O', 'O', 'B-gpe', 'B-per', 'I-per', 'I-per', 'O']",
       "['B-geo', 'O', 'B-geo', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-tim', 'O', 'O', 'O', 'O', 'B-gpe', 'O', 'B-geo', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']",
       "['O', 'B-tim', 'O', 'B-org', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-org', 'O', 'O', 'O', 'B-org', 'O', 'O', 'O', 'O', 'B-geo', 'O', 'O', 'O']"],
      dtype=object)

In [9]:
df.isnull().sum()

Sentence #    0
Sentence      0
POS           0
Tag           0
dtype: int64

In [10]:
df = df.fillna(method = 'ffill')

C:\Users\DeLl\AppData\Local\Temp\ipykernel_3112\439241999.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method = 'ffill')

In [11]:
class sentence(object):
    def __init__(self, df):
        self.n_sent = 1
        self.df = df
        self.empty = False
        agg = lambda s : [(w, p, t) for w, p, t in zip(s['Sentence'].values.tolist(),
                                                       s['POS'].values.tolist(),
                                                       s['Tag'].values.tolist())]
        self.grouped = self.df.groupby("Sentence #").apply(agg)
        self.sentences = [s for s in self.grouped]
        
    def get_text(self):
        try:
            s = self.grouped['Sentence: {}'.format(self.n_sent)]
            self.n_sent +=1
            return s
        except:
            return None

In [12]:
getter = sentence(df)
sentences = [" ".join([s[0] for s in sent]) for sent in getter.sentences]
sentences[10]

C:\Users\DeLl\AppData\Local\Temp\ipykernel_3112\1979230338.py:9: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  self.grouped = self.df.groupby("Sentence #").apply(agg)

'Officials said Sunday former center-left president Alan Garcia leads pro-business congresswoman Lourdes Flores by less than 96,000 votes , with nearly 90 percent of the votes counted .'

In [13]:
sent = getter.get_text()
print(sent)

None

In [14]:
sentences = getter.sentences

In [15]:
def word2features(sent, i):
    word = sent[i][0]
    postag = sent[i][1]

    features = {
        'bias': 1.0,
        'word.lower()': word.lower(),
        'word[-3:]': word[-3:],
        'word[-2:]': word[-2:],
        'word.isupper()': word.isupper(),
        'word.istitle()': word.istitle(),
        'word.isdigit()': word.isdigit(),
        'postag': postag,
        'postag[:2]': postag[:2],
    }
    if i > 0:
        word1 = sent[i-1][0]
        postag1 = sent[i-1][1]
        features.update({
            '-1:word.lower()': word1.lower(),
            '-1:word.istitle()': word1.istitle(),
            '-1:word.isupper()': word1.isupper(),
            '-1:postag': postag1,
            '-1:postag[:2]': postag1[:2],
        })
    else:
        features['BOS'] = True

    if i < len(sent)-1:
        word1 = sent[i+1][0]
        postag1 = sent[i+1][1]
        features.update({
            '+1:word.lower()': word1.lower(),
            '+1:word.istitle()': word1.istitle(),
            '+1:word.isupper()': word1.isupper(),
            '+1:postag': postag1,
            '+1:postag[:2]': postag1[:2],
        })
    else:
        features['EOS'] = True

    return features


def sent2features(sent):
    return [word2features(sent, i) for i in range(len(sent))]

def sent2labels(sent):
    return [label for token, postag, label in sent]

def sent2tokens(sent):
    return [token for token, postag, label in sent]

In [16]:
X = [sent2features(s) for s in sentences]
y = [sent2labels(s) for s in sentences]

In [17]:
#Splitting dataset into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [18]:
crf = CRF(algorithm = 'lbfgs',
         c1 = 0.1,
         c2 = 0.1,
         max_iterations = 10,
         all_possible_transitions = False)

In [ ]:
crf.fit(X_train, y_train)

In [ ]:
y_pred = crf.predict(X_test)

In [ ]:
f1_score = flat_f1_score(y_test, y_pred, average = 'weighted')
print(f1_score)

In [ ]:
report = flat_classification_report(y_test, y_pred)
print(report)

In [ ]:
import joblib
joblib.dump(crf, 'crf_model.pkl')
print("CRF model saved as crf_model.pkl")